.CardModal {
  
  .modal-content {
	display: flex;
	margin: 20px;
	
	@media (max-width: 1026px) {
	  flex-wrap: wrap;
	}
	
	@media (max-width: 1600px) {
	  margin: calc(0px + (20 - 0) * ((100vw - 320px) / (1600 - 320)));
	}
	
	.main {
	  width: 70%;
	  margin-right: 40px;
	  @media (max-width: 1026px) {
		width: 100%;
	  }
	}
	
	.additional {
	  width: 30%;
	  margin-top: 50px;
	  @media (max-width: 1026px) {
		width: 100%;
		margin-top: 10px;
	  }
	}
  }
  
  .category {
  }
  
  .card-title {
	margin-top: 10px;
  }
  
  .card-tags {
	display: flex;
	margin: 20px 0;
  }
  
  .card-description {
	margin-top: 10px;
  }
  
  .card-address {
	margin-top: 20px;
  }
  
  .map {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	width: 550px;
	height: 250px;
	@media (max-width: 1600px) {
	  width: calc(260px + (550 - 260) * ((100vw - 320px) / (1600 - 320)));
	  height: calc(200px + (250 - 200) * ((100vw - 320px) / (1600 - 320)));
	}
  }
  
  .card-group {
	padding: 20px;
	margin-top: 20px;
	border: 1px solid gray;
	border-radius: 5px;
	@media (max-width: 1600px) {
	  padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
	}
	@media (max-width: 1026px) {
	  margin-top: 10px;
	}
	
	.card-group-title {
	  
	}
	
	.card-group-time {
	  margin-top: 10px;
	  color: gray;
	}
  }
  
  .actions {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 20px;
  }
  
  .submitBtn {
	width: 500px;
  }
  
}

