.Card {
  //position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 345px;
  border: 1px lightgray solid;
  border-radius: 5px;
  margin: 0 5px;
  padding: 20px;
  transition: all 500ms;
  background: #f3f5f7;
  @media (max-width: 1600px) {
	width: calc(300px + (350 - 300) * ((100vw - 320px) / (1600 - 320)));
  }
  
  @media(max-width: 1200px) {
	width: 32%;
  }
  
  @media(max-width: 992px) {
	width: 48%;
  }
  
  @media(max-width: 650px) {
	width: 100%;
	margin: 0;
  }
  
  &:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .category {
  }
  
  .card-title {
	margin-top: 10px;
  }
  
  .card-description {
	margin-top: 10px;
  }
  
  .actions {
	//position: absolute;
	//left: 20px;
	//bottom: 25px;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	@media (max-width: 1600px) {
	  left: calc(5px + (20 - 5) * ((100vw - 320px) / (1600 - 320)));
	}
	
  }
  
  .submitBtn {
	margin-right: 20px;
	@media (max-width: 1600px) {
	  margin-right: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
	}
  }
}

.Card:nth-child(n + 2) {
  @media (max-width: 650px) {
	margin-top: 25px;
  }
}

.Card:nth-child(n + 3) {
  @media (max-width: 992px) {
	margin-top: 25px;
  }
}

.Card:nth-child(n + 4) {
  @media (max-width: 1586px) {
	margin-top: 25px;
  }
}

//.Card:nth-child(1n+5) {
//  margin-top: 50px;
//}