.Card {
  position: relative;
  min-height: 400px;
  max-width: 350px;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 20px;
  transition: all 500ms;
  background: #f3f5f7;
  
  &:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .category {
  }
  
  .card-title {
	margin-top: 10px;
  }
  
  .card-description {
	margin-top: 10px;
  }
  
  .actions {
	position: absolute;
	left: 20px;
	bottom: 25px;
	display: flex;
	justify-content: space-around;
  }
  
  .submitBtn {
	margin-right: 20px;
  }
}

.Card:nth-child(1n+5) {
  margin-top: 50px;
}