.SurveyModal {
  
  .modal-content {
	
	margin: 20px;
	@media (max-width: 1600px) {
	  margin: calc(0px + (20 - 0) * ((100vw - 320px) / (1600 - 320)));
	}
	
	.survey-title {
	  margin-top: 10px;
	}
	
	.survey-description {
	  margin-top: 10px;
	}
	
	.answers-section {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  margin: 20px 0;
	}
	
	.answerBtn {
	  margin-top: 20px;
	  height: 100%;
	  @media(max-width: 650px) {
		width: calc(250px + (650 - 250) * ((100vw - 320px) / (650 - 320)));
	  }
	}
	
	.inputs-fio {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  margin-top: 20px;
	}
	
	.input {
	  margin: 10px 0;
	  width: 400px;
	  @media (max-width: 1600px) {
		margin-top: calc(10px + (25 - 10) * ((100vw - 320px) / (1600 - 320)));
		margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1600 - 320)));
	  }
	  @media(max-width: 650px) {
		width: 100%;
	  }
	}
	
	.actions {
	  display: flex;
	  justify-content: center;
	  margin-top: 50px;
	}
	
	.submitBtn {
	  width: 200px;
	  margin: 0 10px;
	  height: 100%;
	  @media(max-width: 1600px) {
		width: calc(100px + (200 - 100) * ((100vw - 320px) / (1600 - 320)));
	  }
	}
  }
  
  
}

