.primary {
  .title {
	font: var(--font-xl);
	font-weight: bold;
	color: var(--secondary-color);
	padding-top: 50px;
	padding-bottom: 25px;
  }
  
  .text {
	font: var(--font-m);
	color: var(--secondary-color);
  }
}

.titles {
  .text {
	font: var(--font-l);
	font-weight: 500;
	color: var(--secondary-color);
  }
}

.secondary {
  .text {
	color: #8D8D8D;
  }
}

.error {
  .title {
	color: var(--red-light);
  }
  
  .text {
	color: var(--red-dark);
  }
}




