.Header {
  display: flex;
  align-items: center;
  background: var(--primary-color);
  height: 40px;
  padding: 0 50px;
  
  .project-title {
	color: white;
	font-size: var(--font-size-m);
  }
  
}

