.Layout {
  display: block;
  margin: 0 auto;
  width: 1600px;
  min-height: 100vh;
  background: white;
  @media (max-width: 1600px) {
	width: calc(300px + (1600 - 300) * ((100vw - 320px) / (1600 - 320)));
  }
  //@media (max-width: 1608px) {
  //width: calc(300px + (1600 - 300) * ((100vw - 320px) / (1600 - 320)));
  //}
}