@import "../../../styles/variables";
@import "../../../styles/mixins";

.primary {
  @include text(12px, 14px);
  @include button($accent-secondary, 150px);
}

.menu_primary {
  @include button($accent-secondary, 32px);
}

.secondary {
  @include text(12px, 14px);
  @include button($gray, 150px);
}

.menu_secondary {
  @include button($gray, 32px);
}

.primary:hover, .menu_primary:hover {
  transition: .2s;
  background: $accent-main;
  box-shadow: 0 0 5px 0.3rem rgba(131, 188, 195, 0.25);
}

.primary:active, .menu_primary:active {
  color: $white;
  background: $accent-text-light;
  box-shadow: 0 0 5px 0.3rem rgba(131, 188, 195, 0.25);
}

.secondary:hover, .menu_secondary:hover {
  transition: .2s;
  background: $dark-gray;
  box-shadow: 0 0 5px 0.3rem rgba(196, 196, 196, 0.25);
}

.secondary:active, .menu_secondary:active {
  color: $white;
  background: darkgray;
  box-shadow: 0 0 5px 0.3rem rgba(196, 196, 196, 0.25);
}

@media only screen and (max-width: $sm) {
  .primary, .secondary {
    width: 140px !important;
  }
}
