.InputWrapper {
  display: flex;
}

.placeholder {
  color: lightgray;
}

.input {
  background: transparent;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  width: 100%;
  color: var(--secondary-color);
  font: var(--font-m);
  text-shadow: 0 0 0 var(--primary-color);
  
  &:focus {
	outline: none;
  }
}