/* Colors */
$accent-main: #83BCC3;
$accent-secondary: #CCE6E8;
$accent-text-dark: #2B2B2B;
$accent-text-light: #315B60;
$dark-gray: #C4C4C4;
$gray: #DCDCDC;
$light-gray: #F7F7F7;
$white: #FFFFFF;

/* Screen sizes */
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

