body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

A {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
}

// Стили для скролла на странице

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}