@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "variables";

body {
  margin: 0;
  padding: 0;
}

A {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
}

/* Text Input placeholder */

::placeholder {
  color: $accent-text-light;
}

/* Search input cancel button */

::-webkit-search-cancel-button {
  position: relative;
  right: 2px;
  background-size: contain;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

/* Scroll bar styles */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: $accent-main;
}

::-webkit-scrollbar-thumb:hover {
  background: $accent-text-dark;
}